body {
    color: white;
    background-color: #292929;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 2;
    margin: 200px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); 
}


.mojeprofilovka {
    width: 350px;
    float: left;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    margin-right: 30px;
    margin-bottom: 30px;
}

a {
    color: #707070;
    text-align: center;
    display: inline-block;
    padding: 20px 30px;
}

.textvizitky {
    padding: 50px;
}